<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="ninja" class="pe.edu.cibertec.proyEmp.Ninja">
		<property name="arma" ref="shuriken"></property>
	</bean>
	
	<bean id="espada" class="pe.edu.cibertec.proyEmp.Espada">
	
	</bean>
	<bean id="shuriken" class="pe.edu.cibertec.proyEmp.Shuriken">
	
	</bean>
</beans>